* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: lightgray;
    padding-top: 50px;
}

/*
.main {
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%
}
*/ 

/* using bootstrap container div */ 
.container {
	/* background-color: lightgray; */
    /* padding-top: 1%;
    padding-bottom: 5%; */
    width: 100%;
}

.border {
    width: 60%;
    min-width: 400px;
    max-width: 720px;
    border: 3px solid black;
    margin: 10% auto;
    position: relative;
    background-color: white;
    /*
    position: absolute; 
    top: 20%;
    left: 30%; 
    */
    padding: 20px;
    overflow: hidden;
}

.left_col {
    width: 60%;
    height: 60%;
    float: left;
    padding-left: 25px;
    padding-right: 50px;
}

.right_col {
    width: 40%;
    height: 60%;
    float: left;
    padding-top: 5%;
}

.address {
    float: clear;
}

.emailaddr a:link {
    color: darkslategrey;
}

.emailaddr a:hover {
    color: black;
}

.emailaddr a:visited {
    color: mediumpurple;
}

.social {
    color: green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}

.social-icons {
    position: relative;
    /* float: left; */
    /* max-inline-size: 10%; */
    height: 26px;
	width: 26px;
	margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 5px;
    -webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
    background-size: cover;
}

.fb {
    background-image: url('../img/social/facebook-hover.png');
}

.fb:hover {
    background-position: 0px -26px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.inst {
    background-image: url('../img/social/instagram-hover.png');
}

.inst:hover {
    background-position: 0px -26px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.tw {
    background-image: url('../img/social/twitter-hover.png');
}

.tw:hover {
    background-position: 0px -26px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

.elbow {
    clear: both;
    margin-top: 10px;
    height: 150px;
    width: 100%;
    background-size: cover;
    background-image: url("http://www.wwe.com/f/styles/wwe_large/public/video/thumb/2012/09/savage_elbow_USE.jpg");
}

/* Typography */

.title h1 {
    font-family: 'Lato','Helvetica','sans-serif';
    font-weight: 900;
    color: mediumpurple;
}

.title h2 {
    font-family: 'Lato', 'Helvetica', 'sans-serif';
    font-weight: 700;
}
.subtitle_text {
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-style: italic;
    font-stretch: ultra-expanded; 
}

.right_col p {
    font-family: 'Lato','Helvetica','sans-serif';
    font-weight: 4em;
}